a.button,
button {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  text-decoration: inherit;
  color: inherit;
  background-color: #eee;
  border: 0.1em solid #eee;
  border-radius: 0.3em;

  &:disabled {
    color: #aaa;
  }
  &:not(:disabled) {
    cursor: pointer;

    &:hover {
      background-color: #ddd;
      border-color: #ddd;
    }
    &:active {
      background-color: #ccc;
      border-color: #ccc;
    }

    &.primary {
      color: #eee;
      background-color: #333;
      border-color: #333;

      &:hover {
        background-color: #444;
        border-color: #444;
      }
      &:active {
        background-color: #555;
        border-color: #555;
      }
    }
  }
}
