form {
  display: flex;
  flex-flow: column;

  width: 100%;
  max-width: 25em;

  label {
    display: flex;
    flex-flow: column;
    input {
      padding: 0.5em 1em;
      border: 0.1em solid var(--bbb);
      border-radius: 0.3em;
      background: var(--fff);
      color: var(--000);
    }

    .error {
      font-weight: bold;
      height: 2em;
      display: flex;
    }
  }

  button {
    margin-top: 3em;
  }
}
