table {
  border: 0.1em solid #bbb;
  // border-radius
  border-radius: 0.3em;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  thead {
    background-color: #bbb;
  }
  td,
  th {
    padding: 0.5em 1em;
  }
  tbody {
    cursor: pointer;
    tr:nth-child(even) {
      background-color: #eee;
    }

    tr:hover {
      background-color: #ddd;
    }

    tr.selected {
      background-color: #ccc;
    }
  }
}
