:root {
  --000: #000;
  --111: #111;
  --222: #222;
  --333: #333;
  --444: #444;
  --555: #555;
  --666: #666;
  --777: #777;
  --888: #888;
  --999: #999;
  --aaa: #aaa;
  --bbb: #bbb;
  --ccc: #ccc;
  --ddd: #ddd;
  --eee: #eee;
  --fff: #fff;
}

body.dark {
  --000: #fff;
  --111: #eee;
  --222: #ddd;
  --333: #ccc;
  --444: #bbb;
  --555: #aaa;
  --666: #999;
  --777: #888;
  --888: #777;
  --999: #666;
  --aaa: #555;
  --bbb: #444;
  --ccc: #333;
  --ddd: #222;
  --eee: #111;
  --fff: #000;
}

body {
  color: var(--000);
  background: var(--fff);
}
